@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1152px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  width: 1215px;
  margin: 0 auto 118px auto;
}

.nav {
  display: flex;
  align-items: center;
  gap: 166px;
}

.nav__list {
  display: flex;
  gap: 50px;
}

.logo {
  display: flex;
  gap: 8px;
}

.header__login {
  margin-right: 34px;
  color: rgb(76, 175, 79);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.hero {
  background-color: rgb(245, 247, 250);
  margin-bottom: 40px;
}

.lessons__wrapper {
  display: flex;
  align-items: center;
  gap: 105px;
}

.lessons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.lessons__title {
  font-family: Inter;
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  margin-bottom: 16px;
  color: rgb(77, 77, 77);
}

.lessons__dots {
  margin-bottom: 16px;
}

.lessons__paragraph {
  color: rgb(113, 113, 113);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}

.lessons__button {
  border-radius: 4px;
  background-color: rgb(76, 175, 79);
  padding: 14px 32px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border: 0;
}

.lessons__title--green {
  color: rgb(76, 175, 79);
}

.logo__title {
  font-family: Inter;
  color: rgb(38, 50, 56);
}

.nav__item {
  color: rgb(24, 25, 31);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.header__button {
  padding: 10px 20px;
  border-radius: 6px;
  border: 0;
  background-color: rgb(76, 175, 79);
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients {
  text-align: center;
  margin-bottom: 65px;
}

.clients__title {
  margin-bottom: 8px;
  color: rgb(77, 77, 77);
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}

.clients__paragraph {
  margin-bottom: 41px;
  color: rgb(113, 113, 113);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.manage {
  margin-bottom: 94px;
}

.manage__list {
  display: flex;
  gap: 127px;
}

.organisation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 1px 2px 4px 0px rgba(171, 190, 209, 0.2);
  transition: box-shadow 0.3s linear, transform 0.3s linear;
}

.organisation:hover {
  box-shadow: 10px 10px 4px 0px rgba(171, 190, 209, 0.2);
  transform: scale(105%) translateY(-20px);
  cursor: pointer;
}

.organisation__title {
  color: rgb(77, 77, 77);
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}

.organisation__paragraph {
  color: rgb(113, 113, 113);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.pixelgrade {
  display: flex;
  align-items: center;
  margin-bottom: 130px;
}

.pixelgrade__title {
  color: rgb(77, 77, 77);
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 16px;
}

.pixelgrade__paragraph {
  color: rgb(113, 113, 113);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 32px;
}

.pixelgrade__button {
  border-radius: 4px;
  background-color: rgb(76, 175, 79);
  border: 0;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 14px 32px;
}

.button {
  transition: transform 0.5s linear, background-color 0.5s linear;
}

.button:hover {
  transform: scale(110%);
  background-color: rgb(56, 142, 59);
  cursor: pointer;
}

.business-helping {
  background-color: rgb(245, 247, 250);
  margin-bottom: 53px;
}

.business-helping__container {
  display: flex;
  padding: 64px 0;
  align-items: center;
  gap: 204px;
}

.business-helping__results {
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
  justify-content: space-between;
}

.business-result {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 191px;
}

.business-helping__title {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 8px;
}
.business-helping__span {
  color: rgb(76, 175, 79);
}

.business-result__value {
  color: rgb(77, 77, 77);
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}

.business-result__users {
  color: rgb(113, 113, 113);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.business-helping__paragraph {
  color: rgb(24, 25, 31);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;
}

.business-result__img {
  width: 48px;
}

.tesla {
  background: rgb(245, 247, 250);
}

.tesla__container {
  display: flex;
  align-items: center;
  padding: 32px 0;
  gap: 78px;
}

.tesla__customers {
  display: flex;
  gap: 40px;
  align-items: center;
}

.tesla__paragraph {
  color: rgb(113, 113, 113);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
}

.tesla__title {
  color: rgb(76, 175, 79);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 8px;
}

.tesla__subtitle {
  color: rgb(137, 147, 158);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}

.tesla__button {
  color: rgb(76, 175, 79);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
